body {
  font-size: 25px;
  line-height: 1.5;
  background-color: black;
  color: whitesmoke;
}

section.times div {
  padding: 24px, 36px, 24px, 36px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

section.times h2:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #33333a;
  border-radius: 50px;
  margin: 0 15px 0 0;
  vertical-align: -5px;
  transition: background-color 0.5s;
}

section.times div.open h2:before {
  background-color: rgb(255, 255, 143);
}

section.times output {
  font-size: 40px;
  margin-top: 30px;
}
